# Crime Data - City of chicago

### Original data - 2001 to present (updated may 3rd 2019)

https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

In [2]:
import pandas as pd

In [3]:
crime_csv_path = "resources/Crimes_-_2001_to_present.csv"
crimedata = pd.read_csv(crime_csv_path)

Filtering for overlap years after 2013 (jan to dec)

In [6]:
crimedata.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11668131,JC240018,04/26/2019 11:58:00 PM,017XX N CENTRAL AVE,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,GAS STATION,False,False,...,29.0,25.0,11,1138768.0,1911350.0,2019,05/03/2019 04:14:46 PM,41.912867,-87.765636,"(41.912867052, -87.765635915)"
1,11668274,JC240043,04/26/2019 11:58:00 PM,008XX N MAY ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,27.0,24.0,05,1168861.0,1905677.0,2019,05/03/2019 04:14:46 PM,41.896700,-87.655246,"(41.896700196, -87.655246179)"
2,11668155,JC240031,04/26/2019 11:56:00 PM,046XX N MELVINA AVE,2093,NARCOTICS,FOUND SUSPECT NARCOTICS,PARK PROPERTY,True,False,...,38.0,15.0,18,1134198.0,1930660.0,2019,05/03/2019 04:14:46 PM,41.965938,-87.781969,"(41.965937596, -87.781969004)"
3,11668197,JC240026,04/26/2019 11:51:00 PM,004XX W 83RD ST,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,...,21.0,71.0,15,1174909.0,1849960.0,2019,05/03/2019 04:14:46 PM,41.743674,-87.634697,"(41.743674436, -87.634696986)"
4,11668158,JC239985,04/26/2019 11:49:00 PM,049XX W JACKSON BLVD,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,28.0,25.0,08B,1143691.0,1898221.0,2019,05/03/2019 04:14:46 PM,41.876749,-87.747879,"(41.876748723, -87.747878888)"

In [7]:
crimedata["Date"][0]

'04/26/2019 11:58:00 PM'

In [22]:
type(crimedata["Date"][0])

str

In [12]:
crimedata[['Date','Time','AmPm']] = crimedata.Date.str.split(expand=True)

In [20]:
crimedata["Date"][0]

'04/26/2019'

In [17]:
crimedata['Date'] = pd.to_datetime(crimedata['Date'])

In [19]:
crimedata['Date'] = crimedata['Date'].dt.strftime('%m/%d/%Y')

In [25]:
crimedata.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Time', 'AmPm'],
      dtype='object')

In [32]:
clean_crime = crimedata[['ID', 'Date', 'Primary Type', 'Location Description', 'Arrest','Community Area', 'Year','Latitude', 'Longitude','Time', 'AmPm']]

In [33]:
clean_crime.head()

,ID,Date,Primary Type,Location Description,Arrest,Community Area,Year,Latitude,Longitude,Time,AmPm
0,11668131,04/26/2019,DECEPTIVE PRACTICE,GAS STATION,False,25.0,2019,41.912867,-87.765636,11:58:00,PM
1,11668274,04/26/2019,BURGLARY,APARTMENT,False,24.0,2019,41.896700,-87.655246,11:58:00,PM
2,11668155,04/26/2019,NARCOTICS,PARK PROPERTY,True,15.0,2019,41.965938,-87.781969,11:56:00,PM
3,11668197,04/26/2019,WEAPONS VIOLATION,STREET,True,71.0,2019,41.743674,-87.634697,11:51:00,PM
4,11668158,04/26/2019,BATTERY,APARTMENT,False,25.0,2019,41.876749,-87.747879,11:49:00,PM

In [34]:
clean_crime.to_csv("resources/crime2013_2019.csv")

In [36]:
clean_crime.tail()

,ID,Date,Primary Type,Location Description,Arrest,Community Area,Year,Latitude,Longitude,Time,AmPm
1724687,8967398,01/01/2013,OFFENSE INVOLVING CHILDREN,RESIDENCE,False,21.0,2013,41.938124,-87.720664,12:01:00,AM
1724688,9266913,01/01/2013,OFFENSE INVOLVING CHILDREN,RESIDENCE,False,2.0,2013,41.992895,-87.688514,12:01:00,AM
1724689,9538643,01/01/2013,DECEPTIVE PRACTICE,RESIDENCE,False,69.0,2013,41.757547,-87.636603,12:01:00,AM
1724690,9724847,01/01/2013,DECEPTIVE PRACTICE,RESIDENCE,False,70.0,2013,41.745366,-87.707153,12:01:00,AM
1724691,8958548,01/01/2013,THEFT,APARTMENT,False,14.0,2013,41.970676,-87.717097,12:01:00,AM